.card {
  margin: 50px auto;
  padding: 50px;
}

.citynamesmall {
  color: #69798a;
}

div h1,
div h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #2d3b49;
}

div p {
  font-size: 15px;
  color: #262f38;
}

p.weatherUI {
  font-size: 100px;
  color: #8ca7c4;
}

div.week,
div.tem {
  font-size: 15px;
  font-weight: bolder;
  color: #2d3b49;
}

div.weatherUI {
  font-size: 40px;
  color: #8ca7c4;
}

p.yingwen {
  text-align: center;
  font-size: 15px;
  color: #69798a;
}
