.card {
  margin: 50px auto;
  padding: 50px;
}

div h1,
div h2 {
  font-size: 40px;
  font-weight: bolder;
  color: #2d3b49;
}

.dayAndTime,
.weatherDes,
div p {
  font-size: 18px;
  color: #69798a;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: bolder;
  color: #2d3b49;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  font-size: 16px;
  color: #69798a;
}

p.yingwen {
  text-align: center;
  font-size: 16px;
  color: #69798a;
}
